.main {
  color:#FFFF00;
}

a {
  color:#FFFF00;
}

.avatar {
  border-width: 2px;
}

@media print {
  .main {
    color: black;
  }

  a {
    color:#FFFF00;
  }

  .invert-print{
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}

.main-bg, .main-bg-reverse {
  position: fixed;
  width: 100%;
  top: -80px;
  height: 118%;
  left: 0;
  z-index: -1;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #ffff00bf, #7e0fff);
  background-size: 605px 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: animateGlow 5s ease infinite;
}

.main-bg-reverse {
  background: linear-gradient(270deg, #7e0fff, #ffff00bf);
  background-size: 605px 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: animateGlowReverse 5s ease infinite;
}

@keyframes animateGlow {
  0%{opacity: 1}
  50%{opacity: 0}
  100%{opacity: 1}
}

@keyframes animateGlowReverse {
  0%{opacity: 0}
  50%{opacity: 1}
  100%{opacity: 0}
}
